<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Sign in</h2>
    </div>
    <div class="col-md-8 col-md-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-md-8 form-group">
          <%= f.input :email, required: false, autofocus: true, class: "form-control" %>
          <%= f.input :password, required: false, class: "form-control" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="col-md-8 form-group">
          <%= f.button :submit, "Log in", class: "form-control, btn btn-default", disable_with: "submiting..." %>
        </div>
      <% end %>
      <div class="col-md-8">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>